*{
    border: 0;
    margin: 0;
    box-sizing: border-box;}

.browner{
    display: flex;
    justify-content: space-between;
    background-color: #641214;
    padding: 35px 100px 35px 100px;
    border-bottom: 20px solid orangered;}

li{
    padding-right: 20px;}

li a{
    text-decoration: none;
    font-size: 23px;
    color: aliceblue;
}

li button{
    background-color:red;
    padding: 10PX 25px 10PX 25PX;
    border-radius: 25px;
    border: none;}

.fronted{
    color: white;
    font-family: calibri;}

.masters{
    color: tomato;
    font-family:script MT bold;}
    
.vevo[type=text] ,
        
.vevo[type=password] {
    width: 55%;
    padding: 8px 10px;
    margin: 8px 0;
    display: block;
    box-sizing: border-box;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: #222;
    font-family: inherit;}

.other{
    background-color: #222; 
    padding: 50px 200px 50px 200px;
    font-size:20px;
    font-family: open sans,sans-serif;
    height: 1.5;
    display: block;}

.but2{
    text-decoration: underline;
    color: tomato;
    margin: 0 ;
    line-height: 1.5;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;}

.but2{
    box-sizing: border-box;
    margin-top: 20px;}

.vevo[type=password] {
    width: 60%;
    padding: 8px 10px;
    margin: 8px 0;
    display: block;
    box-sizing: border-box;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: #222;
    font-family: inherit;} 
    
.but1{
    background-color: red;
    padding: 20px 30px;
    border-radius: 30px;
    border: none;
    color: rgba(255, 255, 255, 0.986);
    font-size: 20px;}
           
.liz{
    display: flex;
    list-style-type: none;
    padding-right: 20px;}

.keko{
    color: #e6e6e6;
    font-size: 20px;}     
    
.pike{
    color: beige;
    margin: 0 0 6px;
    font-size: 20px;
    line-height: 1.4;}

.ending{
    background-color: rgba(0, 0, 0, 0.993);;
    display: block;
    line-height: 2.5em;
    padding: 60px;}

.hey{
    display: flex;
    margin-left: 50px;
    }

.frontend{
    color: white;
    font-family: calibri;}

.masters{
    color: tomato;
    font-size: script MT bold;}
        
.middle{
    width: 200px;
    float: left;}

.coco{
    color: wheat;}

.wow{
    padding: 0px 20px;
    display: inline-block;
    transition: .2s;}

.play{
    padding-right: 15px;
    height: 50px;
    border: 2px solid white;
    border-radius: 10px;
    
}
.align{
    display: flex;
    align-items: center;
}
.google{
    width: 50%;
    height: 80px;
    display: flex;
    align-items: center;}
.apple{
    display: inline-block;
    height: 50px; 
    margin-left: 20px;
    border: 2px solid white;
    border-radius: 10px;
}

.immo{
    color: #e6e6e6;
    float: right;}

.now{
    color: rgb(154, 52, 52);
    float: right;}

.last{
    display: block;
    font-size: 20px;
    color: #e6e6e6;
    justify-content: space-around 30px;
}

.waha{
    width: 50%;
    float: left;
    color: rgb(0, 132, 255);}

.delay{
    width: 50%;
    float: right;
    color: rgb(0, 140, 255);}

.term{
    color: #850709;
}

.privacy{
    color: #850709;
}
.twe{
    width: 3%;
}
.in{
    width: 3%;
}
.sta{
    width: 3%;
    height: 45px;
}